<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/test.css">
</head>

<body>
    {{> header/header}}
    <p>Hello test 12aaaa 123 {{firstName}}</p>
    <p>HELLO! {{firstName}}</p>
    {{> footer/footer}}
</body>

</html>