<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">

</head>

<body>
    {{> header/index}}
    <p>Hello test 12aaaa {{firstName}}</p>
    <p>HELLO! {{firstName}}</p>
    <div>aaaa {{msg}}</div>
    <ul>
        {{#each people}}
        <li>{{this.name}}</li>
        {{/each}}
    </ul>
    {{> footer/index}}
</body>

</html>