{{#> layout title="Homepage" css="index.css" js="index.js"}}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="bxslider">
                {{#each carusel}}
                <div><img src="{{this.image}}"></div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
{{/layout}}