{{#> layout title="Homepage" css="index.css"}}
<p>Hello test 12aaaa {{firstName}}</p>
<p>HELLO! {{firstName}}</p>
<div>aaaa {{msg}}</div>
<ul>
    {{#each people}}
    <li>{{this.name}}</li>
    {{/each}}
</ul>
{{/layout}}