{{#> layout title="Homepage" css="index.css"}}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="bxslider">
                <div><img src="images/coffee1.jpg"></div>
                <div><img src="images/coffee2.jpg"></div>
                <div><img src="images/coffee3.jpg"></div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = () => {
        $('.bxslider').bxSlider({
            auto: true,
            autoControls: true,
            stopAutoOnClick: true,
            pager: true,
            slideWidth: 600

        });
    }
</script>
{{/layout}}