{{#> layout title="SecondLevel" css="secondPage.css"}}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div>the mesage is {{msg}} <i class="fas fa-space-shuttle"></i></div>
            <ul>
                {{#each people}}
                <li>{{this.name}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
{{/layout}}