.owl-carousel {
  .owl-nav {
    .owl-prev,
    .owl-next {
      position: absolute;
      top: 50%;
      border: none;
      background-color: $primary;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      &:hover{
        background-color: $gray-500;
      }
      span {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 80px;
        line-height: 30px;
      }
    }
    .owl-prev {
      left: 0;
      span {
        right: auto;
        left: 10px;
      }
    }
    .owl-next {
      right: 0;
    }
  }
  .owl-dots {
    .owl-dot {
      background-color: transparent;
      border: none;
      &.active{
        span{
          background-color: $primary;
        }
        
      }
    }
  }
}

.img-wrapper {
  padding: 50% 10%;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
