<footer class="bg-primary text-secondary">
    <div class="row">
        <div class="col">
            <span>This is the footer</span>
            <img width="200" src="images/bbb.jpg" alt="">
        </div>
    </div>
</footer>
